[Unit]
Description=SECexplorer
Requires=apache2.service
After=apache2.service

[Service]
TimeoutStartSec=0
ExecStart=/home/user/SECexplorer/client/start_nodejs_for_frontend
ExecStop=/home/user/SECexplorer/client/stop_server

[Install]
WantedBy=multi-user.target
