<!doctype html>
<html ng-app="app">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SEC-SWATH explorer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- ================================================================
       |                             JS                               |
       ================================================================ -->
      <script src="script.js" type="text/javascript" charset="utf-8"></script>
  <!-- ================================================================
       |                             CSS                              |
       ================================================================ -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <link rel="shortcut icon" href="/resources/img/favicon.ico">
      <link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="app container-fluid"
    ng-controller="ProteinQueryCtrl as proteinQueryCtrl">

    <div class="row topbar">
      <div class="col-xs-12">
        <h2>SEC-SWATH explorer</h2>
      </div>
    </div>



<div class="row">
  <div class="left-pane col-xs-3 col-resizable" ng-controller="ListInputCtrl as listInputCtrl">
    <br/>
    <div ng-if="proteinQueryCtrl.complexFeatures.error.length > 0">
      <div class="panel panel-danger">
          <div class="panel-heading">{{:: proteinQueryCtrl.complexFeatures.error}}</div>
      </div>
    </div>
    <div ng-if="proteinQueryCtrl.complexFeatures.no_ms_signal.length > 0">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <span ng-bind="proteinQueryCtrl.complexFeatures.no_ms_signal.length"></span>
              IDs without MS signal
          </div>
      </div>
    </div>
    <div ng-if="proteinQueryCtrl.complexFeatures.failed_conversion.length > 0">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <span ng-bind="proteinQueryCtrl.complexFeatures.failed_conversion.length"></span>
              unknown IDs
          </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#proteinids">Protein IDs</a></li>
    <li><a data-toggle="tab" href="#assignments">ID Assignments</a></li>
    </ul>
    <div class="tab-content">
        <div id="proteinids" class="tab-pane fade in active">
                <div class="protein-id-input">
                    <br/>
                    <div>
                        <label>ID type</label>
                        <select class="form-control" ng-model="listInputCtrl.idType">
                            <option value="UNIPROTKB">UniProtKB</option>
                            <option value="UNIPROTKB_name">UniProtKB Name</option>
                            <option value="Gene_names">Gene Name</option>
                            <option value="ENSEMBL">ENSEMBL</option>
                            <option value="HGNC">HGNC</option>
                        </select>
                    </div>
                    <br/>

                    <div class="form-group">
                        <label>List of IDs</label>
                        <textarea rows=10 class="form-control" ng-model="listInputCtrl.inputProteinIds"></textarea>
                    </div>

                    <div class="btn-container">
                        <button class="btn btn-primary btn-lg" ng-click="listInputCtrl.query()">
                        Submit
                        </button>
                    </div>
                </div>  <!-- protein-id-input -->
        </div>
        <div id="assignments" class="tab-pane fade">
            <br/>
            <table class="table">
                <tr>
                    <th ng-repeat="name in proteinQueryCtrl.complexFeatures.mapping_names">
                        {{:: name}}
                    </th>
                </tr>
                <tr ng-repeat="row in proteinQueryCtrl.complexFeatures.mappings">
                    <td ng-repeat="cell in row"> {{:: cell}} </td>
                </tr>
            </table>
            <br/>
            <div ng-if="proteinQueryCtrl.complexFeatures.failed_conversion.length > 0">
                <label>Unknown IDs</label>
            </div>
            <table class="table">
                <tr ng-repeat="name in proteinQueryCtrl.complexFeatures.failed_conversion">
                    <td>{{:: name}}</td>
                </tr>
            </table>
            <div ng-if="proteinQueryCtrl.complexFeatures.no_ms_signal.length > 0">
                <label>No MS Signal</label>
            </div>
            <table class="table">
                <tr ng-repeat="name in proteinQueryCtrl.complexFeatures.no_ms_signal">
                    <td>{{:: name}}</td>
                </tr>
            </table>
        </div>

    </div>
  </div>
  <div class="main-pane col-xs-8 col-resizable">

        <div class="protein-trace-plot-container">
          <h3>Protein chromatograms</h3>
          <spinner loading="proteinQueryCtrl.isTraceQueryRunning"></spinner>
          <div id="protein-trace-plot" ng-hide="proteinQueryCtrl.isTraceQueryRunning"></div>
        </div>

        <div class="complex-candidates-container" ng-controller="ComplexCandidatesCtrl as complexCtrl">
          <h3>Complex candidates</h3>
          <spinner loading="proteinQueryCtrl.isFeatureQueryRunning"></spinner>
          <table class="table table-hover table-condensed"
              ng-show="!proteinQueryCtrl.isFeatureQueryRunning"
              >
              <thead>
                    <tr
                    ng-mousedown="complexCtrl.showAllTraces()"
                        >
                    <th></th>
                    <th>Subunits</th>
                    <th># Subunits</th>
                    <th>Complete-ness</th>
                    <th>Apex</th>
                    <th>Apex apparent MW</th>
                    <th>Left boundary</th>
                    <th>Right boundary</th>
                    <th>Estimated Stoichiometry</th>
                    <th>Peak Corr.</th>
                    </tr>
              </thead>
            <tr ng-repeat="feat in proteinQueryCtrl.complexFeatures.features"
              ng-mousedown="complexCtrl.clickTableRow($index)"
              ng-class="{'selected':$index == selectedRow}"
              >
              <td>{{:: $index }}</td>
              <td>{{:: feat.subunits }}</td>
              <td>{{:: feat.n_subunits }}</td>
              <td>{{:: feat.completeness | number: 2}}</td>
              <td>{{:: feat.apex }}</td>
              <td style="text-align:right;">{{:: feat.apex_mw | number: 1}}</td>
              <td>{{:: feat.left_pp }}</td>
              <td>{{:: feat.right_pp }}</td>
              <td>{{:: feat.stoichiometry_estimated }}</td>
              <td>{{:: feat.peak_corr | number: 3}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
