<!doctype html>
<html ng-app="app">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SEC-SWATH explorer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- ================================================================
       |                             JS                               |
       ================================================================ -->
      <script src="script.js" type="text/javascript" charset="utf-8"></script>
  <!-- ================================================================
       |                             CSS                              |
       ================================================================ -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <link rel="shortcut icon" href="/resources/img/favicon.ico">
      <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="app container-fluid"
    ng-controller="ProteinQueryCtrl as proteinQueryCtrl">

    <div class="row topbar">
      <div class="col-xs-12">
        <h2>SEC-SWATH explorer</h2>
      </div>
    </div>

    <div class="row">
      <div class="left-pane col-xs-3"
        ng-controller="ListInputCtrl as listInputCtrl">
        <div class="protein-id-input">
          <h3>Select proteins by ID</h3>

          <div>
          <label>ID type</label>
          <select class="form-control" ng-model="listInputCtrl.idType">
              <option value="UNIPROTKB">UniProtKB</option>
              <option value="UNIPROTKB_name">UniProtKB Name</option>
              <option value="Gene_names">Gene Name</option>
              <option value="ENSEMBL">ENSEMBL</option>
              <option value="HGNC">HGNC</option>
          </select>
        </div>
        <br/>


          <div class="form-group">
            <label>List of IDs</label>
            <textarea rows=10 class="form-control" ng-model="listInputCtrl.inputProteinIds"></textarea>
          </div>

          <div class="btn-container">
            <button class="btn btn-primary btn-lg" ng-click="listInputCtrl.query()">
              Submit
            </button>
          </div>
        </div>

      </div>
      <div class="main-pane col-xs-9">

        <div class="protein-trace-plot-container">
          <h3>Protein chromatograms</h3>
          <spinner loading="proteinQueryCtrl.isTraceQueryRunning"></spinner>
          <div id="protein-trace-plot" ng-hide="proteinQueryCtrl.isTraceQueryRunning"></div>
        </div>

        <div class="complex-candidates-container" ng-controller="ComplexCandidatesCtrl as complexCtrl">
          <h3>Complex candidates</h3>
          <spinner loading="proteinQueryCtrl.isFeatureQueryRunning"></spinner>
          <table class="table table-hover table-condensed"
              ng-show="!proteinQueryCtrl.isFeatureQueryRunning"
              >
            <tr
              ng-mousedown="complexCtrl.showAllTraces()"
                >
              <th></th>
              <th># subunits</th>
              <th>Start SEC</th>
              <th>End SEC</th>
              <th>Cluster score</th>
              <th>Subunits</th>
              <th>Intensity-based stoichiometry</th>
              <th>Estimated MW</th>
              <th>Apparent MW</th>
              <th>Delta MW</th>
            </tr>
            <tr ng-repeat="feat in proteinQueryCtrl.complexFeatures.features"
              ng-mousedown="complexCtrl.clickTableRow($index)"
              ng-class="{'selected':$index == selectedRow}"
              >
              <td>{{:: $index }}</td>
              <td>{{:: feat.subunits.length }}</td>
              <td>{{:: feat.leftSEC }}</td>
              <td>{{:: feat.rightSEC }}</td>
              <td style="text-alignt: right">{{:: feat.score | number : 3 }}</td>
              <td>{{:: feat.subunits.join(', ') }}</td>
              <td>{{:: feat.stoichiometry_estimated }}</td>
              <td style="text-align: right">{{:: feat.complex_mw_estimated | number: 2 }}</td>
              <td style="text-alignt: right">{{:: feat.apparentMW | number: 2 }} kDa</td>
              <td>{{:: (feat.complex_mw_estimated - feat.apparentMW) | number: 2 }} kDa</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
