html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, 'Trebuchet MS', sans-serif;
  background-image: url("/resources/img/mocha.png");
  background-repeat: repeat;
}

.app {
  height: 100%;
}

.r-console {
  width: 100%;
  height: 100%;
  font-size: 2em;
  background: black;
  color: white;
}

.r-input {
  input, span {
    font-size: 1.5em;
  }
}
